<br>
<br>
<br>
<a href="/get_articles/add/view">Add Article</a>
<table border="1">	
	<tr>
		<th>srno.</th>
		<th>Title</th>
		<th>Description</th>
		<th>Category</th>
		<th>Delete</th>
	</tr>
	<% @article_data.each_with_index do |t,i| %>
		<tr>
			<td> <%= i %></td>
			<td> <a href="/get_articles/edit/<%=t.title %>"> <%= t.title %></a></td>
			<td> <%= t.description %></td>
			<td> 
				<%= Category.where(id: t.category_id).pluck(:name).map {|str| "#{str}"}.join(',') %>
			</td>
			<td> <a href="/get_articles/delete/ <%=t.id %>" onclick="return confirm('Are you sure?')"> Delete</a></td>
		</tr>
	<% end %> 			
</table>