<h2 class="text-center mt-4 mb-4">Article Listing Page</h2>
	
<% if logged_in?%>
	<%= link_to 'Add New Article', new_article_path, class: "btn btn-primary justify-content-md-center mb-4 d-flex"%>
<% end %>
<%= render 'article' %>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

<!-- <table>
	<thead>
		<tr>
			<th>So.No.</th>
			<th>Title</th>
			<th>Description</th>
			<th colspan="3">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @articles.each_with_index do |article,i| %>
			<tr>
				<td><%= i %></td>
				<td><%= article.title %></td>
				<td><%= article.description%></td>
				<td><%= link_to 'Show', article_path(article)%></td>
				<td><%= link_to 'Edit', edit_article_path(article)%></td>
				<td><%= link_to 'Delete', article_path(article), method: :Delete, data: {confirm:"Are You Sure You want Delete This?"} %></td>
			</tr>
			<% end %>
	</tbody>
</table> -->