
<h2 class="text-center m-4">Details</h2>


<p class="card-text">Title : <%= @article.title %></p>	
<p class="card-text">Description: <%= @article.description %></p>

<div class="row justify-content-between">
	<%= link_to 'Edit This Article', edit_article_path(@article), class: "btn btn-info" %>
	<%= link_to 'Delete This Article', article_path(@article), method: :Delete, data: {confirm:"Are You Sure You want Delete This?"},class: "btn btn-danger" %>
	<%= link_to 'View All Article', articles_path,class: "btn btn-primary" %>	
</div>